:root {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: rgba(0, 0, 0, 0.04);
}